{{#if tasks}}

  <table class="table table-border table-hover table-dark">
    <thead>
      <tr>
        <th>N.</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Profile</th>
        <th>Degree</th>
        <th>Institution</th>
        <th>Education Dates</th>
        <th>Job Title</th>
        <th>Company</th>
        <th>Job Dates</th>
        <th>Languages</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>

      {{#each tasks}}
        <tr>
          <td>{{@index}}</td>
          <td>{{name}}</td>
          <td>{{phone}}</td>
          <td>{{email}}</td>
          <td>{{profile}}</td>
          <td>{{degree}}</td>
          <td>{{institution}}</td>
          <td>{{educationDates}}</td>
          <td>{{jobTitle}}</td>
          <td>{{company}}</td>
          <td>{{jobDates}}</td>
          <td>{{languages}}</td>
          <td>
            {{#if done}}
              <a
                href="/tasks/{{_id}}/toggleDone"
                class="btn btn-dark"
              >Undone</a>
            {{else}}
              <a
                href="/tasks/{{_id}}/toggleDone"
                class="btn btn-success"
              >Done</a>
            {{/if}}

            <a href="/tasks/{{_id}}/delete" class="btn btn-danger">Delete</a>
            <a href="/tasks/{{_id}}/edit" class="btn btn-info">Update</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

{{else}}

  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
      <h1>No Tasks</h1>
      <img src="/icons/empty.svg" class="w-75" />
    </div>
  </div>

{{/if}}