{{#if tasks}}
  <div class="table-responsive">
    <table class="table table-border table-hover table-dark">
      <thead>
        <tr>
          <th>N.º</th>
          <th>Detalles</th>
          <th>Operaciones</th>
        </tr>
      </thead>
      <tbody>
        {{#each tasks}}
          <tr>
            <td>{{inc @index}}</td>
            <td>
              <ul class="list-unstyled mb-2">
                {{#if photo}}
                  <li><strong>Foto:</strong><br />
                    <img src="{{photo}}" alt="Photo" class="img-thumbnail mt-2" width="100" />
                  </li>
                {{/if}}
                <li><strong>Nombre completo:</strong> {{name}}</li>
                <li><strong>Número de teléfono:</strong> {{phone}}</li>
                <li><strong>Correo electrónico:</strong> {{email}}</li>
                <li><strong>Edad:</strong> {{age}}</li>
                <li><strong>Descripción personal:</strong> {{profile}}</li>
                <li><strong>Título:</strong> {{degree}}</li>
                <li><strong>Institución:</strong> {{institution}}</li>
                <li><strong>Fecha de inicio:</strong> {{educationDatesStart}}</li>
                <li><strong>Fecha de finalización:</strong> {{educationDatesEnd}}</li>
                <li><strong>Nombre del cargo:</strong> {{jobTitle}}</li>
                <li><strong>Empresa:</strong> {{company}}</li>
                <li><strong>Fecha de inicio:</strong> {{jobDatesStart}}</li>
                <li><strong>Fecha de finalización:</strong> {{jobDatesEnd}}</li>
                <li><strong>Breve descripción de funciones y logros:</strong> {{jobDescription}}</li>
                <li><strong>Idiomas:</strong> {{languages}}</li>
              </ul>
            </td>
            <td class="d-flex flex-column gap-2">
              {{#if done}}
                <a href="/tasks/{{_id}}/toggleDone" class="btn btn-dark btn-sm">
                  <i class="bi bi-x-circle"></i> Marcar como pendiente
                </a>
              {{else}}
                <a href="/cv/pdf/{{_id}}" class="btn btn-success btn-sm">
                  <i class="bi bi-check-circle"></i> Descargar CV
                </a>
              {{/if}}

              <a href="/tasks/{{_id}}/delete" class="btn btn-danger btn-sm">
                <i class="bi bi-trash"></i> Eliminar
              </a>

              <a href="/tasks/{{_id}}/edit" class="btn btn-info btn-sm">
                <i class="bi bi-pencil-square"></i> Editar
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{else}}
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
      <h1>No hay tareas registradas</h1>
      <img src="/icons/empty.svg" class="w-75" alt="Sin tareas" />
    </div>
  </div>
{{/if}}
