<div class="card card-body p-4 rounded-0 bg-dark text-white">
  <h3>Datos Personales</h3>

  <form action="/tasks/add" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="name">Nombre completo:</label>
      <input
        type="text"
        name="name"
        placeholder="Name"
        id="name"
        class="form-control rounded-0 bg-dark text-white"
        required
        value="{{task.name}}"
      />
    </div>

    <div class="mb-3">
      <label for="phone">Número de teléfono:</label>
      <input
        type="number"
        name="phone"
        placeholder="Phone"
        id="phone"
        class="form-control rounded-0 bg-dark text-white"
        required
        value="{{task.phone}}"
      />
    </div>

    <div class="mb-3">
      <label for="Age">Edad:</label>
      <input
        type="number"
        name="age"
        placeholder="Age"
        id="age"
        class="form-control rounded-0 bg-dark text-white"
        required
        value="{{task.age}}"
      />
    </div>

    <div class="mb-3">
      <label for="email">Correo electrónico:</label>
      <input
        type="email"
        name="email"
        placeholder="Email"
        id="email"
        class="form-control rounded-0 bg-dark text-white"
        required
        value="{{task.email}}"
      />
    </div>

    <div class="mb-3">
      <label for="photo">Foto</label>
      <input
        type="file"
        name="photo"
        id="photo"
        class="form-control rounded-0 bg-dark text-white"
      />
    </div>

    {{#if task.photo}}
      <div class="mb-3">
        <label>Foto actual:</label><br />
        <img src="{{task.photo}}" alt="Current Photo" width="150" class="img-thumbnail" />
      </div>
    {{/if}}

    <div class="mb-3">
      <label for="profile">Descripción personal</label>
      <textarea
        name="profile"
        id="profile"
        class="form-control rounded-0 bg-dark text-white"
        rows="3"
        required
      >{{task.profile}}</textarea>
    </div>

    <h3>Formación Académica</h3>

    <div class="mb-3">
      <label for="degree">Título obtenido:</label>
      <input
        type="text"
        name="degree"
        id="degree"
        placeholder="Degree"
        class="form-control rounded-0 bg-dark text-white"
        required
        value="{{task.degree}}"
      />
    </div>

    <div class="mb-3">
      <label for="institution">Institución educativa:</label>
      <input
        type="text"
        name="institution"
        id="institution"
        placeholder="Institution"
        class="form-control rounded-0 bg-dark text-white"
        required
        value="{{task.institution}}"
      />
    </div>

    <div class="mb-3">
      <label for="educationDatesStart">Fecha de inicio:</label>
      <input
        type="date"
        name="educationDatesStart"
        id="educationDatesStart"
        class="form-control rounded-0 bg-dark text-white"
        required
        value="{{task.educationDatesStart}}"
      />
    </div>

    <div class="mb-3">
      <label for="educationDatesEnd">Fecha de finalización:</label>
      <input
        type="date"
        name="educationDatesEnd"
        id="educationDatesEnd"
        class="form-control rounded-0 bg-dark text-white"
        required
        value="{{task.educationDatesEnd}}"
      />
    </div>

    <h3>Experiencia Laboral</h3>

    <div class="mb-3">
      <label for="jobTitle">Nombre del cargo:</label>
      <input
        type="text"
        name="jobTitle"
        id="jobTitle"
        placeholder="Job Title"
        class="form-control rounded-0 bg-dark text-white"
        required
        value="{{task.jobTitle}}"
      />
    </div>

    <div class="mb-3">
      <label for="company">Empresa:</label>
      <input
        type="text"
        name="company"
        id="company"
        placeholder="Company"
        class="form-control rounded-0 bg-dark text-white"
        required
        value="{{task.company}}"
      />
    </div>

    <div class="mb-3">
      <label for="jobDatesStart">Fecha de inicio:</label>
      <input
        type="date"
        name="jobDatesStart"
        id="jobDatesStart"
        class="form-control rounded-0 bg-dark text-white"
        required
        value="{{task.jobDatesStart}}"
      />
    </div>

    <div class="mb-3">
      <label for="jobDatesEnd">Fecha de finalización:</label>
      <input
        type="date"
        name="jobDatesEnd"
        id="jobDatesEnd"
        class="form-control rounded-0 bg-dark text-white"
        required
        value="{{task.jobDatesEnd}}"
      />
    </div>

    <div class="mb-3">
      <label for="jobDescription">Breve descripción de funciones y logros:</label>
      <textarea
        name="jobDescription"
        id="jobDescription"
        placeholder="Job Description"
        class="form-control rounded-0 bg-dark text-white"
        rows="3"
        required
      >{{task.jobDescription}}</textarea>
    </div>

    <h3>Idiomas</h3>

    <div class="mb-3">
      <label for="languages">Idiomas:</label>
      <input
        type="text"
        name="languages"
        id="languages"
        placeholder="Languages"
        class="form-control rounded-0 bg-dark text-white"
        required
        value="{{task.languages}}"
      />
    </div>

    <button class="btn btn-primary btn-sm mt-2">Guardar</button>
  </form>
</div>

<script>
  const input = document.getElementById('photo');
  const preview = document.createElement('img');

  preview.style.maxWidth = '200px';
  preview.style.display = 'none';
  preview.style.marginTop = '10px';
  input.parentNode.appendChild(preview);

  input.addEventListener('change', function () {
    const file = this.files[0];
    if (file) {
      const reader = new FileReader();
      preview.style.display = 'block';

      reader.addEventListener('load', function () {
        preview.setAttribute('src', this.result);
      });

      reader.readAsDataURL(file);
    } else {
      preview.style.display = 'none';
      preview.setAttribute('src', '#');
    }
  });
</script>
