{{#if tasks}}

  <div class="table-responsive">
    <table class="table table-border table-hover table-dark">
      <thead>
        <tr>
          <th>N.</th>
          <th>Details</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        {{#each tasks}}
          <tr>
            <td>{{inc @index}}</td>
            <td>
              <ul class="list-unstyled mb-2">
                <li><strong>Photo:</strong><br />
                  <img
                    src="/uploads/{{photo}}"
                    alt="Photo"
                    class="img-thumbnail mt-2"
                    width="100"
                  />
                </li>
                <li><strong>Name:</strong> {{name}}</li>
                <li><strong>Phone:</strong> {{phone}}</li>
                <li><strong>Email:</strong> {{email}}</li>
                <li><strong>Profile:</strong> {{profile}}</li>
                <li><strong>Degree:</strong> {{degree}}</li>
                <li><strong>Institution:</strong> {{institution}}</li>
                <li><strong>Education Dates:</strong> {{educationDates}}</li>
                <li><strong>Job Title:</strong> {{jobTitle}}</li>
                <li><strong>Company:</strong> {{company}}</li>
                <li><strong>Job Dates:</strong> {{jobDates}}</li>
                <li><strong>Languages:</strong> {{languages}}</li>
                
              </ul>
            </td>
            <td class="d-flex flex-column gap-2">

              {{#if done}}
                <a href="/tasks/{{_id}}/toggleDone" class="btn btn-dark btn-sm">
                  <i class="bi bi-x-circle"></i>
                  Undone
                </a>
              {{else}}
                <a
                  href="/cv/pdf"
                  class="btn btn-success btn-sm"
                >
                  <i class="bi bi-check-circle"></i>
                  Descargar CV
                </a>
              {{/if}}

              <a href="/tasks/{{_id}}/delete" class="btn btn-danger btn-sm">
                <i class="bi bi-trash"></i>
                Delete
              </a>

              <a href="/tasks/{{_id}}/edit" class="btn btn-info btn-sm">
                <i class="bi bi-pencil-square"></i>
                Update
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

{{else}}

  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
      <h1>No Tasks</h1>
      <img src="/icons/empty.svg" class="w-75" />
    </div>
  </div>

{{/if}}