<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card card-body bg-dark p-4 text-white rounded-0">

        <h1>Update Task</h1>
        <form action="/tasks/{{task._id}}/edit" method="POST" enctype="multipart/form-data">

          <div class="mb-3">
            <label for="name">Nombre completo</label>
            <input
              type="text"
              name="name"
              id="name"
              value="{{task.name}}"
              class="form-control"
              required
            />
          </div>

          <div class="mb-3">
            <label for="phone">Número de teléfono</label>
            <input
              type="text"
              name="phone"
              placeholder="Phone"
              value="{{task.phone}}"
              id="phone"
              class="form-control rounded-0 bg-dark text-white"
              required
            />
          </div>

          <div class="mb-3">
            <label for="email">Correo electrónico</label>
            <input
              type="email"
              name="email"
              placeholder="Email"
              value="{{task.email}}"
              id="email"
              class="form-control rounded-0 bg-dark text-white"
              required
            />
          </div>

          <div class="mb-3">
            <label for="profile">Descripción personal</label>
            <textarea
              name="profile"
              placeholder="Profile Description"
              id="profile"
              rows="3"
              class="form-control rounded-0 bg-dark text-white"
              required
            >{{task.profile}}</textarea>
          </div>

          <h3>Academic Information</h3>

          <div class="mb-3">
            <label for="degree">Título</label>
            <input
              type="text"
              name="degree"
              placeholder="Degree"
              value="{{task.degree}}"
              id="degree"
              class="form-control rounded-0 bg-dark text-white"
              required
            />
          </div>

          <div class="mb-3">
            <label for="institution">Institución</label>
            <input
              type="text"
              name="institution"
              placeholder="Institution"
              value="{{task.institution}}"
              id="institution"
              class="form-control rounded-0 bg-dark text-white"
              required
            />
          </div>

          <div class="mb-3">
            <label for="educationDatesStart">Fecha de inicio</label>
            <input
              type="date"
              name="educationDatesStart"
              value="{{task.educationDatesStart}}"
              class="form-control"
            />
          </div>

          <div class="mb-3">
            <label for="educationDatesEnd">Fecha de finalización</label>
            <input
              type="date"
              name="educationDatesEnd"
              value="{{task.educationDatesEnd}}"
              class="form-control"
            />
          </div>

          <h3>Experiencia Laboral</h3>

          <div class="mb-3">
            <label for="jobTitle">Nombre del cargo</label>
            <input
              type="text"
              name="jobTitle"
              placeholder="Job Title"
              value="{{task.jobTitle}}"
              id="jobTitle"
              class="form-control rounded-0 bg-dark text-white"
              required
            />
          </div>

          <div class="mb-3">
            <label for="company">Empresa</label>
            <input
              type="text"
              name="company"
              placeholder="Company"
              value="{{task.company}}"
              id="company"
              class="form-control rounded-0 bg-dark text-white"
              required
            />
          </div>

          <div class="mb-3">
            <label for="jobDatesStart">Fecha de inicio</label>
            <input
              type="date"
              name="jobDatesStart"
              value="{{task.jobDatesStart}}"
              class="form-control"
            />
          </div>

          <div class="mb-3">
            <label for="jobDatesEnd">Fecha de finalización</label>
            <input
              type="date"
              name="jobDatesEnd"
              value="{{task.jobDatesEnd}}"
              class="form-control"
            />
          </div>

          <div class="mb-3">
            <label for="jobDescription">Breve descripción de funciones y logros</label>
            <textarea
              name="jobDescription"
              placeholder="Job Description"
              id="jobDescription"
              rows="3"
              class="form-control rounded-0 bg-dark text-white"
              required
            >{{task.jobDescription}}</textarea>
          </div>

          <h3>Idiomas</h3>

          <div class="mb-3">
            <label for="languages">Idiomas</label>
            <input
              type="text"
              name="languages"
              placeholder="Languages"
              value="{{task.languages}}"
              id="languages"
              class="form-control rounded-0 bg-dark text-white"
              required
            />
          </div>

          <h3>Photo</h3>

          <div class="mb-3">
            <label for="photo">Current Photo</label>
            <div>
              <img src="{{task.photo}}" alt="Current Photo" width="150" />
            </div>
          </div>

          <div class="mb-3">
            <label for="photo">Upload New Photo</label>
            <input
              type="file"
              name="photo"
              id="photo"
              class="form-control"
            />
          </div>

          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>